h1, p{
  color: white;
  font-family: "Roboto", Arial; 
  font-size: clamp(1rem,3rem); 
}  

h1{
  line-height: 1.4;
  margin: 1em 0 0 1em;
}

p{
  margin: 1em 0 0 2em;
}

a{
  text-decoration: none;
  font-family: "Roboto", Arial;
  color: white;
}

svg{
  color: white;
  cursor: pointer;
}

.circle{
  display: flex;
  align-items: center;
}

.dot{
  background-color: rgb(3, 209, 48);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle > p{
  margin: 2em 0 0 1em;
}

.dot{
  margin: 2em 0 0 2em;
}

.button{
  width: 140px;
  height: 30px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  border-radius: 1em;
  margin: 2em 0 0 2em;
  transition: background-color .5s ease;
}

.button:hover{
  background-color: transparent;
  border:  1px solid gray;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  h1, p{
    text-align: center;
    font-size: clamp(1rem,4vw, 3rem);
    margin: 1em 0 0 0;
  }
}

@media (max-width: 480px) { 
  h1, p{
    text-align: center;
    font-size: clamp(1rem,4vw, 3rem);
    margin: 1em 0 0 0;
  }

  .circle{
    margin: 0;
  }

  .dot{
    display: none;
  }

  .button{
    margin: 1em auto;
    width: 100px;
    height: 20px;    
  }
  svg{
    display: none;
  }
}