.parent {  
  display: grid; 
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(1fr, 4);
  grid-template-areas: 
  "presentation presentation cv cv"
  "presentation presentation cv cv"
  "skills skills skills skills"
  "demos demos demos demos";    
  gap: 18px;
  width: 50vw;
  height: 100vh;
  margin: 1em 0 1em 0;  
}
  
.div5 {
  background-color: #121214;
  grid-area: cv;  
  border-radius: 10px;
}

.div6 {
  background-color: #121214;
  grid-area: skills;
  border-radius: 10px;
}

.div7 {
  background-color: #121214;  
  grid-area: presentation;
  border-radius: 10px;
}

.div7 h2, p{
  color: white;
  font-family: "Roboto", Arial;
  margin-top: .5em;
}

.div7 p{
  font-style: italic;
  color: rgb(160, 157, 157);  
}

.div7{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div8 {
  background-color: #121214;
  grid-area: demos;
  border-radius: 10px;
}

.profile img{
  width: 150px;
  height: 150px;
}

.presentation{  
  padding: 1em;
  text-align: center; 
  width: 100%;
  height: auto;
}

.social svg{
  color: white;
  margin-top: 1em;
}

.social svg:first-child{
  margin-right: 1em;
}

.social svg.bi-linkedin:hover{
  color: #0A66C2;  
}

.social svg.bi-github:hover{
  color: #bdcad8;  
}

@media (max-width: 480px) { 
  .parent {   
    width: 80vw;       
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto,4);
    grid-template-areas: 
    "presentation"
    "cv"
    "skills"
    "demos";
  }
}