img{
  width: 40px;  
}

.skill_container{ 
  height: 100%;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 480px) { 
  .skill_container {   
    flex-wrap: wrap;    
    gap: .8em;    
    align-items: none;
    padding: 1em;   
    height: auto; 
  }

  img{
    width: 30px;  
    height: 30px;  
  }
}