h1{
text-align: center;
font-family: "Roboto", Arial;
color: #FFF;
padding-bottom: .5em;
}

i{
color: rgb(214, 142, 9);
}

h2, a, p{
text-decoration: none;
color: #FFF;
font-family: "Roboto", Arial;
}

.container{ 
  height: 100vh;
}

.form_container { 
background-color: #121214;
border-radius: 1em;  
width: 60vw;
height: 60vh;
display: grid;
grid-template-columns: repeat(6fr);
grid-template-rows: repeat(6fr);
gap: 2em;
}

.side,
.form{
border: 1px gray solid;
border-radius: 10px;  
}

.side{
grid-column: span 1 / span 1;
grid-row: span 6 / span 6;
margin: 2em 0 2em 2em;
}

.form{
grid-column: span 5 / span 5;
grid-row: span 6 / span 6;
grid-column-start: 2;
margin: 2em 2em 2em 0;
}

.contac{
padding: 4em 0 0 2em;
}

.contac a, p{
color:  rgb(172, 164, 164);
padding-top: .5em;
}

.contac > a:hover{
text-decoration: underline;
}

input{
border-radius: 10px;
border: none;
height: 2.5em;
outline: none;  
padding-left: 1em;
width: 40%;
height: 4em;
}


textarea{
width: 82%;
resize: none;
border-radius: 10px;
border: none;
margin-top: 1em;
outline: none;
padding-left: 1em;
padding: 1em 0 0 1em;
}

button{
border: none;
border-radius: 1em;
font-family: "Roboto", Arial;
padding: 1em;
text-decoration: none;
background-color: orange;
width: 150px;
height: 50px;
color: #FFF;
cursor: pointer;
margin-top: 2em;
}

#form-contac{
margin: 4em 0 0 4em;
}

.inputs{
display: flex;
gap: 1em;
}