<app-nav></app-nav>

<div class="container">       
    <h1>Ponte en contacto conmigo!</h1> 
    <div class="form_container">
        <div class="side">
            <div class="contac">
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
                  </svg></i>
                <h2>Locación</h2>  
                <p>Medellín - Colombia</p>
            </div>
            <div class="contac">
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                  </svg></i>
                <h2>Correo</h2>  
                <a href="mailto:sesabe10@gmail.com">sesabe10&#64;gmail.com</a>
            </div>
        </div>
        <div class="form">
            <form id="form-contac" [formGroup]="userForm" (ngSubmit)="save()">                
                <div class="inputs">
                    <input required type="text" placeholder="Nombre" formControlName="name">                    
                    <input type="email" placeholder="Correo" formControlName="email">                    
                </div>
                <div class="message">
                    <textarea formControlName="message" name="comment" id="area" cols="30" rows="10"></textarea>
                </div>    
                <button type="submit">ENVIAR</button>                  
            </form>
        </div>
    </div>
</div>